*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("image/cruise/Website-bg.png");
    background-position: center;
    background-size: cover;
    height: 109vh;
    align-items: center;
    
}


.navbar{
    
    width: 1200px;
    height: 100px;
    text-align: center;
}


.icon{
  margin-top: 10px;
  margin-left: 70px;
  width: 300px;
  height: 70px;
  padding-left: 30px;
  float: left;
  padding-top: 15px;
  display: flex;
}

.name{
    width: fit-content;
    color: white;
    margin-top: 10px;

}
.menu{
  width: 650px;
  float: right;
  height: 50px;
  

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    float :right;
}
ul li{
    list-style: none;
    margin-left: 55px;
    margin-top: 28px;
    font-size: 16px;
}
ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out; 

}

#ticketHadding{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    
}


.basicDeff{
  text-align: left;
  margin-top: 100px;
  margin-left: 100px;
}

#deff1{
  margin-top: 50px;
  color: #e8eaeb;
  margin-bottom: 20px;
  
}
#deff2{
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 600;
  color: #72aecc;

}
#btnPage1{
  margin-top: 30px;
  border: 2px solid #e8eaeb;
  padding: 10px;
  text-align: center;
  color: #e8eaeb;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0);
  transition:  0.4s ease-in-out;
}

#btnPage1:hover{
  background-color: #b8d8ff;
  color: #370602;
  border-radius: 15px;
}

.ticket{
    width: 90%;
    height: 300px;
    background-color: #1a2d38;
    margin: auto;
    padding: 10px;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 20px;

}
#image{
    width: 40%;
    height: 100%;
}
.descrption{
    padding-left: 15px;
    width: 45%;
    position: relative;
    overflow: hidden;
}

#classTitle{
    padding-top: 25px;
    font-size:xx-large ;
    font-weight: bold;
    color: rgb(156, 121, 56);
    font-family: Helvetica;
    margin-left: 15px;
    
}

#position{
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

.price_trip{
width: fit-content;
text-align: right;
font-size: xx-large;
font-weight: 500;
margin: auto;
color: #15b8af;
}
#price{
    padding-right: 55px;
}
#trip{
   padding-right: 15px;
}

.btn_container{
  margin-top: 20px;
  
}
.call,.book{
    border: 2px solid cornsilk;
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
    font-family: "monsearrt";
    font-weight: 600;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    background-color: #15b8af;
    color: #b3cae7;
    
}
.call:hover,.book:hover{
    background-color: crimson;
    color: whitesmoke;
    border-color: rgb(245, 245, 153);
    
}


 /* .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #58a2ec;
    z-index: -1;
    transition: 0.8s;
    top:0;
    border-radius: 0 0 50% 50%;
}
.call::before{
     top:0;
     border-radius: 0 0 50% 50%;
}
.call:hover::before{
    height: 180%;
}  */


.ticket1{
 background-color: #fafafa;
 height: 550px;
 width:95%;
 margin-top: 250px;
 margin-left: 35px;

}
.ticketTest{

  text-align: center;

}
.ticketP{

  font-family: "Luxia Regular";
  font-size: 50px;
  font-weight: 300;
  letter-spacing:3px;

  
}
.ticketPp {
  font-family: "Luxia Regular";
  font-size: 50px;
  font-weight: 300;
  letter-spacing:3px;
  color: #c70909; 
  
}

.rowOne{
    display: flex;
    width: 80%;
margin-left: 10%;
    

    
}
.rowTwo{
    display: flex;
    width: 80%;
    margin-top: 2%;
    margin-left: 22%;
    
}

.item1{
    width: 160px;
    height: 160px;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color:#1a2d38;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    transition: 0.7s;

    
}
.item1:hover{
  background-color:#750f05;
}


.item1H6{
    text-align-last: center;
    margin-top: 50px;
    margin-left:5px;
    color:#ba9551;
    font-size: 20px;
    font-family: Regular 400;
     
}

.item1H66{
    text-align-last: center;
    margin-top: 15px;
    margin-left:5px;
    font-size: 20px;
    color:#ba9551;
    
     
}
.item1H666{
    text-align-last: center;
    margin-top:30px;
    margin-left:5px;
    font-size: 20px;
    color:#ba9551;
    
     
}

.item1P{

    text-align-last: center;
    margin-top: 2px;
    margin-left:5px;
    font-size: 20px;
    color:#beb69f;
    line-height: 50%; 

}
.item1Pp{

    text-align-last: center;
    margin-top: 2px;
    margin-left:2px;
    font-size: 20px;
    color:#beb69f;
    line-height: 50%; 
}
.item1Ppp{

    text-align-last: center;
    margin-top: 2px;
    margin-left:5px;
    font-size: 20px;
    color:#beb69f;
    line-height: 70%; 
}

.item2{
    width: 160px;
    height: 160px;
    
    
    margin-left: 17px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #370602;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    
}
.item2:hover{
  background-color: #112c4e;
}

.item2H6{
    text-align-last: center;
    margin-top: 50px;
    margin-left:5px;
    color:#ba9551;
    font-size: 20px;
    font-family: Regular 400; 
}

.item2H66{
    text-align-last: center;
    margin-top: 25px;
    margin-left:5px;
    font-size: 20px;
    color:#ba9551;
     
}

.item2P{

    text-align-last: center;
    margin-top: 2px;
    margin-left:5px;
    font-size: 20px;
    color:#beb69f;
    line-height: 50%; 
}
.item2Pp{

    text-align-last: center;
    margin-top: 2px;
    margin-left:2px;
    font-size: 20px;
    color:#beb69f;
    line-height: 70%; 
}
.payment__span {
    color: #313131 !important;
    font-size: 16px !important;
  }
  .payment__p {
    font-size: 16px;
    color: #313131ba !important;
    letter-spacing: 0.5px !important;
  }
  .custom__hr {
    margin: 5px 0px;
    border-bottom: 3px solid #486cda !important;
  }
  .sec__title {
    
    font-family: "Luxia Regular";
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 3px;
    padding-bottom: 13px;
  }
  .sec_title1{

    font-family: "Luxia Regular";
    font-size: 20px;
    font-weight: 300;
    letter-spacing:3px;
  }
  .our__pckg {
    color: #c70909; 
    font-weight: 500;
  }
  .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }

  .Payment_col{
    margin: 30px;
    height: 350px;
    width: 250px;
     /* flex-basis: 31%;  */
    background:#f1f1f1 ;
    border-radius: 10px;
    /*margin-bottom:5% ;*/
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.8s;
    margin-bottom: 150px;
    text-align: center;
  }
  .Payment_col:hover{

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.918);

  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.7s;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background: #ab3c5d;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.918);
  }

  .test{
height: 500px;
width: 100%;
background-color: #fafafa;

  }
  /*----reach your destination----*/

  .destination{
    
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fafafa;

  }

  .destination-text{
    font-family:"Luxia Regular" ;
    max-width: 45%;
    margin-left: 100px;
    display:inline-block ;
    text-align: justify;
  }
  .destination_red{

    color: #c70909;
  }
  .destination_p{
    
    font-size: 20px;
    color: #5d6c83;
  }
/*-----------------------------------*/
.destinations1{
  display: flex;
  margin: 10px;

}
.destinations2{

  display: flex;
  margin: 10px;
  margin-top: 40px;
}

.destination_image{
margin-left: 10%;
margin-top: 4%;
width: 40%;

  
}

.destination-text1{
    font-family:"Luxia Regular" ;
    max-width: 500px;
    margin-left: 100px;
    display:inline-block ;
    text-align: justify;
    }
.destination_red1{

    color: #c70909;
  }
.destination_p1{
    font-size: 20px;
    color: #5d6c83;
  }
  

  /* ------------------ */
  /* shedule table */


  .shedule{
    width: 100%;
    text-align: center;
}

.ticketPs{

    font-family: "Luxia Regular";
    font-size: 40px;
    font-weight: 300;
    
}
  .ticketPps {
    font-family: "Luxia Regular";
    font-size: 40px;
    font-weight: 300;
    color: #c70909; 
    
  }
  #roat{
   
   font-size: 30px;
   font-weight: 250px;
   color: #57b8bb;

  }
  #tableHadding{
      background-color: #7a9ab6;
  }

  .sheduleTable{
    width: 90%;
    height: 500px;
    border: 2px solid #ddd;
    text-align: center;
    border-radius: 10px;
    margin-left: 5%;
  
  }

  .month{
    margin-top: 35px;
    margin-left: 40%;
    width: 200px;
    border: 2px solid #ddd;
    padding:15px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing:2px;
    color: #4f74d8;
   
  }

#sheduleTable2{
  margin-top: 50px;
  margin-left: 10%;
  width: 80%;
  text-align: center;
  border: 2px solid #ddd; 
  border-collapse: collapse;
  

}
#tableHadding{
  font-size: 24px;
}


#tabledefination{
  font-size: 20px;
  font-weight: 400;
}


#tableHadding,#tabledefination{
  height: 50px;
  border: 2px solid #ddd;

}



